u.data structure: user id | item id | rating | timestamp

u.user structure: user id | age | gender | occupation | zip code

u.item structure: movie id | movie title | release date | video release date |IMDb URL | unknown | Action | Adventure | Animation | Children's | Comedy | Crime | Documentary | Drama | Fantasy |Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |Thriller | War | Western |

In [1]:
%pylab
%matplotlib inline

Using matplotlib backend: Qt5Agg
Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd

In [11]:
unames = ['user_id','age','gender','occupation','zip']
users = pd.read_table(r'C:\Users\Zishi\Python learning notebooks\Pydata\ml-100k\u.user', sep='|', header=None, names=unames)

In [12]:
users.head()

   user_id  age gender  occupation    zip
0        1   24      M  technician  85711
1        2   53      F       other  94043
2        3   23      M      writer  32067
3        4   24      M  technician  43537
4        5   33      F       other  15213

In [13]:
rnames = ['user_id','movie_id','rating','timestamp']
ratings = pd.read_table(r'C:\Users\Zishi\Python learning notebooks\Pydata\ml-100k\u.data', sep='\t', header=None, names=rnames)

In [14]:
ratings.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [20]:
mnames = ['movie_id','movietitle','release date','videoreleasedate','IMDbURL']
movies = pd.read_table(r'C:\Users\Zishi\Python learning notebooks\Pydata\ml-100k\u.item',sep='|',names=mnames,
                      usecols = range(5),encoding='ISO-8859-1')

In [21]:
movies[:5]

,movie_id,movietitle,release date,videoreleasedate,IMDbURL
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)

In [22]:
data = pd.merge(pd.merge(ratings,users),movies)

In [24]:
data[:5]

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip,movietitle,release date,videoreleasedate,IMDbURL
0,196,242,3,881250949,49,M,writer,55105,Kolya (1996),24-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Kolya%20(1996)
1,305,242,5,886307828,23,M,programmer,94086,Kolya (1996),24-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Kolya%20(1996)
2,6,242,4,883268170,42,M,executive,98101,Kolya (1996),24-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Kolya%20(1996)
3,234,242,4,891033261,60,M,retired,94702,Kolya (1996),24-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Kolya%20(1996)
4,63,242,3,875747190,31,M,marketing,75240,Kolya (1996),24-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Kolya%20(1996)

In [26]:
data.ix[0]

user_id                                                         196
movie_id                                                        242
rating                                                            3
timestamp                                                 881250949
age                                                              49
gender                                                            M
occupation                                                   writer
zip                                                           55105
movietitle                                             Kolya (1996)
release date                                            24-Jan-1997
videoreleasedate                                                NaN
IMDbURL             http://us.imdb.com/M/title-exact?Kolya%20(1996)
Name: 0, dtype: object

In [29]:
mean_ratings = data.pivot_table('rating',index='movietitle',
                               columns='gender',aggfunc='mean')

In [30]:
mean_ratings[:5]

gender                            F         M
movietitle
'Til There Was You (1997)  2.200000  2.500000
1-900 (1994)               1.000000  3.000000
101 Dalmatians (1996)      3.116279  2.772727
12 Angry Men (1957)        4.269231  4.363636
187 (1997)                 3.500000  2.870968

In [31]:
ratings_by_title = data.groupby('movietitle').size()

In [32]:
ratings_by_title.head()

movietitle
'Til There Was You (1997)      9
1-900 (1994)                   5
101 Dalmatians (1996)        109
12 Angry Men (1957)          125
187 (1997)                    41
dtype: int64

In [33]:
active_titles = ratings_by_title.index[ratings_by_title >= 100]

In [36]:
active_titles

Index(['101 Dalmatians (1996)', '12 Angry Men (1957)',
       '2001: A Space Odyssey (1968)', 'Absolute Power (1997)',
       'Abyss, The (1989)', 'Ace Ventura: Pet Detective (1994)',
       'Adventures of Priscilla, Queen of the Desert, The (1994)',
       'African Queen, The (1951)', 'Air Force One (1997)', 'Aladdin (1992)',
       ...
       'Welcome to the Dollhouse (1995)', 'What's Eating Gilbert Grape (1993)',
       'When Harry Met Sally... (1989)', 'While You Were Sleeping (1995)',
       'William Shakespeare's Romeo and Juliet (1996)',
       'Willy Wonka and the Chocolate Factory (1971)',
       'Wizard of Oz, The (1939)', 'Wrong Trousers, The (1993)',
       'Young Frankenstein (1974)', 'Young Guns (1988)'],
      dtype='object', name='movietitle', length=338)

In [37]:
mean_ratings = mean_ratings.ix[active_titles]

In [38]:
mean_ratings

gender                                                     F         M
movietitle
101 Dalmatians (1996)                               3.116279  2.772727
12 Angry Men (1957)                                 4.269231  4.363636
2001: A Space Odyssey (1968)                        3.491228  4.103960
Absolute Power (1997)                               3.451613  3.343750
Abyss, The (1989)                                   3.814815  3.540323
Ace Ventura: Pet Detective (1994)                   3.105263  3.035714
Adventures of Priscilla, Queen of the Desert, T...  3.659091  3.552239
African Queen, The (1951)                           4.000000  4.245614
Air Force One (1997)                                3.690476  3.606557
Aladdin (1992)                                      3.949153  3.762500
Alien (1979)                                        3.660714  4.123404
Alien 3 (1992)                                      2.636364  2.853933
Alien: Resurrection (1997)                          2.875000  3.150000
Aliens (1986)                                       3.672727  4.013100
Amadeus (1984)                                      4.038961  4.211055
American President, The (1995)                      3.744681  3.581197
Amistad (1997)                                      3.882353  3.844444
Annie Hall (1977)                                   4.000000  3.882353
Apocalypse Now (1979)                               3.897436  4.076923
Apollo 13 (1995)                                    4.000000  3.909953
Apt Pupil (1998)                                    3.909091  4.172414
Army of Darkness (1993)                             3.153846  3.466019
Arsenic and Old Lace (1944)                         4.228571  4.012500
As Good As It Gets (1997)                           4.107143  4.226190
Austin Powers: International Man of Mystery (1997)  3.000000  3.316832
Babe (1995)                                         4.050000  3.974843
Back to the Future (1985)                           3.766667  3.857692
Basic Instinct (1992)                               3.363636  3.189873
Batman (1989)                                       3.487805  3.412500
Batman Forever (1995)                               3.173913  2.538462
...                                                      ...       ...
Titanic (1997)                                      4.278846  4.231707
To Kill a Mockingbird (1962)                        4.347826  4.266667
Tombstone (1993)                                    3.818182  3.627907
Tomorrow Never Dies (1997)                          3.368421  3.443662
Top Gun (1986)                                      3.583333  3.453488
Toy Story (1995)                                    3.789916  3.909910
Trainspotting (1996)                                3.820000  3.900000
True Lies (1994)                                    3.500000  3.579268
True Romance (1993)                                 3.000000  3.727273
Truth About Cats & Dogs, The (1996)                 3.690722  3.371429
Twelve Monkeys (1995)                               3.560976  3.861290
Twister (1996)                                      3.253012  3.200000
Ulee's Gold (1997)                                  3.725490  3.774436
Under Siege (1992)                                  3.166667  3.311321
Unforgiven (1992)                                   3.441176  3.966216
Usual Suspects, The (1995)                          4.333333  4.399061
Vertigo (1958)                                      4.073171  4.304348
Volcano (1997)                                      3.092593  2.715152
Wag the Dog (1997)                                  3.315789  3.585859
Waterworld (1995)                                   2.263158  2.927711
Welcome to the Dollhouse (1995)                     3.800000  3.695122
What's Eating Gilbert Grape (1993)                  3.666667  3.481013
When Harry Met Sally... (1989)                      3.988506  3.876847
While You Were Sleeping (1995)                      3.637931  3.500000
William Shakespeare's Romeo and Juliet (1996)       3.714286  3.535211
Willy Wonka and the Chocolate Factory (1971)        3.752688  3.583691
Wizard of Oz, The (1939)                            4.159420  4.045198
Wrong Trousers, The (1993)                          4.444444  4.472527
Young Frankenstein (1974)                           4.023810  3.924051
Young Guns (1988)                                   3.230769  3.204545

[338 rows x 2 columns]

In [40]:
top_female_ratings = mean_ratings.sort_values(by='F',ascending=False)

In [41]:
top_female_ratings[:30]

gender                                                     F         M
movietitle
Schindler's List (1993)                             4.632911  4.406393
Close Shave, A (1995)                               4.631579  4.462366
Shawshank Redemption, The (1994)                    4.562500  4.410959
Wrong Trousers, The (1993)                          4.444444  4.472527
Sling Blade (1996)                                  4.411765  4.127451
Secrets & Lies (1996)                               4.407407  4.194444
Casablanca (1942)                                   4.400000  4.473404
Much Ado About Nothing (1993)                       4.381818  3.917355
Good Will Hunting (1997)                            4.355932  4.223022
Rear Window (1954)                                  4.351852  4.400000
To Kill a Mockingbird (1962)                        4.347826  4.266667
Usual Suspects, The (1995)                          4.333333  4.399061
Hoop Dreams (1994)                                  4.333333  4.041667
Silence of the Lambs, The (1991)                    4.320000  4.279310
Manchurian Candidate, The (1962)                    4.304348  4.250000
Dr. Strangelove or: How I Learned to Stop Worry...  4.291667  4.247059
It's a Wonderful Life (1946)                        4.288136  4.063953
Philadelphia Story, The (1940)                      4.281250  4.041667
Titanic (1997)                                      4.278846  4.231707
12 Angry Men (1957)                                 4.269231  4.363636
Henry V (1989)                                      4.257143  4.089888
Sense and Sensibility (1995)                        4.252632  3.878613
Graduate, The (1967)                                4.250000  4.051429
Star Wars (1977)                                    4.245033  4.398148
My Fair Lady (1964)                                 4.238095  3.602410
Arsenic and Old Lace (1944)                         4.228571  4.012500
Kolya (1996)                                        4.205882  3.903614
Citizen Kane (1941)                                 4.205128  4.314465
Taxi Driver (1976)                                  4.172414  4.111111
Fugitive, The (1993)                                4.166667  4.011364

In [42]:
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F']

In [43]:
sorted_by_diff = mean_ratings.sort_values(by='diff')

In [44]:
sorted_by_diff.head()

gender                               F         M      diff
movietitle
First Wives Club, The (1996)  3.491525  2.742574 -0.748951
My Fair Lady (1964)           4.238095  3.602410 -0.635686
Batman Forever (1995)         3.173913  2.538462 -0.635452
Net, The (1995)               3.482759  2.857143 -0.625616
Grease (1978)                 3.754386  3.141593 -0.612793

In [45]:
sorted_by_diff[::-1][:15]

gender                                         F         M      diff
movietitle
Good, The Bad and The Ugly, The (1966)  3.187500  3.950413  0.762913
True Romance (1993)                     3.000000  3.727273  0.727273
Reservoir Dogs (1992)                   3.433333  4.127119  0.693785
Waterworld (1995)                       2.263158  2.927711  0.664553
Bridge on the River Kwai, The (1957)    3.685714  4.307692  0.621978
2001: A Space Odyssey (1968)            3.491228  4.103960  0.612732
Patton (1970)                           3.476190  4.086957  0.610766
Full Metal Jacket (1987)                3.173913  3.761905  0.587992
Beavis and Butt-head Do America (1996)  2.310345  2.897638  0.587293
Ben-Hur (1959)                          3.400000  3.968085  0.568085
Clockwork Orange, A (1971)              3.452381  4.016760  0.564379
Conan the Barbarian (1981)              2.588235  3.133333  0.545098
Star Trek: The Wrath of Khan (1982)     3.382979  3.918782  0.535803
Unforgiven (1992)                       3.441176  3.966216  0.525040
Terminator, The (1984)                  3.524590  4.037500  0.512910

In [46]:
rating_std_by_title = data.groupby('movietitle')['rating'].std()

In [49]:
rating_std_by_title = rating_std_by_title.ix[active_titles]

In [51]:
rating_std_by_title.sort_values(ascending=False)[:30]

movietitle
Natural Born Killers (1994)                      1.327240
Nightmare on Elm Street, A (1984)                1.313385
Lost Highway (1997)                              1.303494
Crash (1996)                                     1.297237
Beavis and Butt-head Do America (1996)           1.259850
Evita (1996)                                     1.234051
Grease (1978)                                    1.232027
Happy Gilmore (1996)                             1.223152
Kingpin (1996)                                   1.216547
Ace Ventura: Pet Detective (1994)                1.215735
Event Horizon (1997)                             1.211844
I Know What You Did Last Summer (1997)           1.204537
Army of Darkness (1993)                          1.181187
Boogie Nights (1997)                             1.175570
Starship Troopers (1997)                         1.174371
Leaving Las Vegas (1995)                         1.170368
English Patient, The (1996)                      1.169401
William Shakespeare's Romeo and Juliet (1996)    1.169276
Mars Attacks! (1996)                             1.166630
Clockwork Orange, A (1971)                       1.164220
Pink Floyd - The Wall (1982)                     1.159665
Sound of Music, The (1965)                       1.156958
G.I. Jane (1997)                                 1.155497
Jungle2Jungle (1997)                             1.154200
Pulp Fiction (1994)                              1.150880
Alien: Resurrection (1997)                       1.150605
Michael (1996)                                   1.149302
Saint, The (1997)                                1.141131
George of the Jungle (1997)                      1.139207
Spawn (1997)                                     1.137845
Name: rating, dtype: float64